h1 {
    color: navy;
}

table th {
    border: 2px navy solid;
    background-color: navy;
    color: aliceblue;
}

tr td {
    border: 1px navy solid;
    height: 40px;
    width: 100px;
    text-align: center;
}

.duty-row {
    cursor: pointer;
}
